<form id="upload-photo">
  <label>
    URL
    <input type="text" id="photo-url-input">
  </label>
  <label>
  Title
    <input type="text" id="photo-title-input">
  </label
  <button>Upload Photo!</button>
</form>